# # Compilation products
__pycache__/
*.pyc
build/
bin/

# Operation system files
.DS_Store
Thumbs.db

# Editor
.vscode/

# Submit files
/dag_files/

# Output
/data
/Y[0-9][0-9][0-9][0-9]*/
/Draw/
*.log
*.err
*.out
*.stderr
*.stdout
*.pdf

# Incomplete projects
/auto-copy/
/root/

# Test artifacts
.coverage
*.cover
htmlcov/
