# 构建和安装目录

# 编译产物
__pycache__/
*.pyc

# CMake 生成文件

# 操作系统
.DS_Store
Thumbs.db

# 编译器和调试器文件

# 日志和临时文件
/main.log
/auto_iter.log

# Output
/Y[0-9][0-9][0-9][0-9]*/
/Draw/

# 包管理器目录（如果使用）

# 未完成项目
/auto-copy/
/root/
